
.container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.box-container {
    display: flex;
    align-items: center;
    width: 350px;
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid;
}

.box {
    height: 50px;
    width: 50px;
    border-radius: 999px;
    border: 1px solid #000000;
    margin-right: 1rem;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}
